# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet dhcp
#######################
# Comment above out and change below for static ip
# iface {{ ansible_default_ipv4.interface }} inet static
#        address 10.10.10.XX
#        netmask 255.255.255.0
#        gateway 10.10.10.1
